<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
	    <link rel="stylesheet" href="../stylesheets/esrileafletAPI.css" />
	    <link rel="stylesheet" href="../stylesheets/leaflet.css" />
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	    <script type="text/javascript" src="../javascripts/bootstrap.min.js" ></script>
	    <script type="text/javascript" src="../javascripts/leaflet.js" ></script>
		<script type="text/javascript" src="../javascripts/esri-leaflet.js" ></script>
		<script type="text/javascript" src="../javascripts/LeafletMap.js" ></script>
	<title><%= title %></title>
</head>
<body onload="init()">