<div id="popDiv">
	<div id="popTitle">
		<!-- 标题div -->
		<span class="title_left">详细信息</span>
		<span class="title_right">
					<a href="#" onclick="hidePopup();">关闭</a> </span>
	</div>
	<div id="popForm">

	</div>
</div>